html {
  font-size: 18px;
}

body {
    display: block;
    margin: 0;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    line-height: 1.4em;
}

.container {
    max-width: 960px;
    margin: 0  auto;
}

.company {
    display: block;
    position: fixed;
    background-color: black;
    color: white;
    height: auto;
    width: 100%;
    padding: 1.2rem 0;
    z-index: 1;
}

.company .container {
    display: flex;
    align-items: center;
}

.company .container img {
    padding: 0 0.5rem ;
    height: 1.5rem;
    width: auto;
}

.company .container span {
  padding: 0.66rem 1rem;
  font-size: 1rem;
}

.main-banner {
    display: block;
    background: url("file:///Users/bobobobo/Documents/Projects/SecretAgentSupply/resources/images/moto.jpeg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 25rem;
    padding-top: 2rem;
}

.headline {
    display: block;
    background-color: black;
    color: white;
    width: 20rem;
    line-height: 2.8em;
    padding: 2rem 3rem;
    margin-top: 9rem;
}

.headline span {
    font-size: 1rem;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.headline h1 {
    font-size: 2rem;
    font-weight: bold;
    width: auto;
    margin-top: 0.25rem;
}

nav {
    display: block;
    background-color: firebrick;
    color: white;
    width: 100%;
}

nav .container{
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 0;
}

nav .mobile-nav {
    display: none;
}

.products {
    display: flex;
    justify-content: space-between;
}

.product-pen {
    width: 30%;
}

.product-watch {
    width: 30%;
}

.product-glasses {
    width: 30%;
}

.product-image {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid black;
    margin-top: 3rem;
}

.product-image img {
    height: 9rem;
    width: auto;
    padding: 2rem 0;
}

.title-product{
    background-color: black;
    color: white;
    margin: 0;
}

.products .title-product {
    display: flex;
    justify-content: center;
    height: auto;
    padding: 0.5rem 0;
    margin: 0;
}

.business-info {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.info {
    display: block;
    width: 35%;
}

.info .title {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    padding: 1rem 2rem;
}

.title {
    margin-bottom: 0.5rem;
}

footer {
    background-color: black;
    color: white;
    padding: 5rem 0;
    margin-top: 4rem;
}

@media only screen and (max-width: 960px){

    nav .container li {
    display: none;
}
    nav .container{
    display: none;
    justify-content: space-between;
    padding: 0.75rem 0;
}
    nav .mobile-nav li {
    display: block;
    background-color: firebrick;
    color: white;
    width: auto;
}

    nav .mobile-nav{
    display: block;
    text-align: center;
  }
    .product-pen {
    width: 47%;
}
    .product-watch {
    width: 47%;
}
    .product-glasses {
    display: none;
}

}

@media only screen and (max-width: 480px){
    .company {
    display: flex;
    justify-content: center;
}
    .company .container img  {
    height: 2rem;
    width: auto;
}
    .company .container span {
    display: none;
}
    .main-banner {
    display: block;
    background: url("file:///Users/bobobobo/Documents/Projects/SecretAgentSupply/resources/images/moto.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 15rem;
    padding-top: 21rem;
}
    .headline {
    display: block;
    background-color: black;
    color: white;
    width: 100%;
    line-height: 1.5rem;
    padding: 1rem 2rem;
    margin-top: 10rem;
}

    .headline span {
    font-size: 0.77rem;
    font-weight: bold;
    margin: 0;
}
    .headline h1 {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
}
    .products {
    display: flex;
    justify-content: center;
}
    .product-pen {
    width: 90%;
}
    .product-watch {
    display: none;
}
    .product-glasses {
    display: none;
}
    .business-info {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
}
    .info {
    width: 90%;
    margin-top: 0.5rem;
    margin-bottom: auto;
    margin-right:auto;
    margin-left:auto;
}

    footer {
    text-align: center;
}

}
